body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

h1 {
    color: #38bdf8;
}

.card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
